.callBack
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(#000, 0.5)
  display: none
  &__title
    width: 90%
    margin: auto
    font-size: 20px
    margin-bottom: 20px
    text-align: center
  &--active
    display: flex
  &__dialog
    position: relative
    margin: auto
    width: 40%
    background-color: #fff
    padding: 40px
  &__form
    display: flex
    flex-direction: column
    align-items: center
  &__close
    width: 40px
    height: 40px
    position: absolute
    top: 0
    right: 0
    cursor: pointer
  &__input
    width: 100%
    &:nth-of-type(1)
      margin-bottom: 10px
    &:nth-of-type(2)
        margin-top: 10px
        margin-bottom: 10px
    & + .error
      text-align: center
  &__button
    margin-top: 10px
    height: 65px
    width: 100%
    +bold
.validate-message
  display: none
  margin-top: 20px
  +bold
  font-size: 18px

@media (max-width: 1224px)
  .callBack
    &__dialog
      width: 50%

@media (max-width: 1024px)
  .callBack
    &__dialog
      width: 60%

@media (max-width: 768px)
  .callBack
    &__dialog
      width: 70%

@media (max-width: 567px)
  .callBack
    &__title
      font-size: 16px
    &__dialog
      width: 100%
    &__button
      font-size: 14px
  .validate-message
    margin-top: 10px
    font-size: 16px
