.navbar
  padding: 8px 0
  &-block
    display: flex
    justify-content: space-between
    align-items: center
  &__info
    display: flex
    align-items: center
    text-align: right
  &__contacts
    display: flex
    flex-direction: column
  &__button
    margin-left: 30px
    +bold
    font-size: 13px
  &__phone
    display: inline-block
    color: $text-color
    +bold
    font-size: 20px
    text-decoration: none
    margin-top: 8px
  &__address
    +reg
    font-size: 13px

@media (max-width: 768px)
  .navbar
    &__button
      margin-left: 10px
      font-size: 12px
      padding: 15px 26px
    &__logo
      width: 90px
    &__contacts
      display: none
    &__phone
      font-size: 16px
    &__address
      font-size: 12px

@media (max-width: 567px)
  .navbar
    padding-left: 5px
    padding-bottom: 15px
    &__logo
      margin-left: -5px
    &__button
      width: 137px
      height: 39px
      padding: 10px 15px
      font-size: 10px
      border-radius: 5px