.offer
  max-width: 1920px
  background: url('../img/offer/offer-kitchen.jpg') no-repeat
  background-position: center right
  margin: auto
  padding: 75px 0 85px 0
  position: relative
  &:before
    content: ''
    width: 50%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background-color: #fff
  &-block
    position: relative
    width: 50%
    padding-right: 90px
  &__title
    width: 355px
    line-height: 35px
    font-size: 24px
    margin-bottom: 20px
    text-align: left
  &__subtitle
    width: 250px
    min-width: 250px
    margin-bottom: 30px
  &__form
    margin-bottom: 10px
    & #username-error
      display: block
      text-align: center
    & #phone-error
      display: block
      text-align: center
    & .validate-message
      margin-top: 20px
      order: 5
      text-align: center
      width: 100%
  &__input
    margin-bottom: 30px
    width: 240px
    &:first-child
      margin-right: 10px
  &__button
    width: 495px
    min-height: 70px
    +bold
    font-size: 16px
    order: 3
  &__recall
    &-block
      width: 485px
      display: flex
      justify-content: space-between
      font-size: 15px
      line-height: 24px
    &-item
      +reg
      margin-top: 18px
    &-tel
      +bold

@media (min-width: 1224px)
  .offer
    &__form
      display: flex
      flex-wrap: wrap
      position: relative
      & #username-error
        position: absolute
        width: 100%
        left: 5px
        top: -20px
        width: 240px
        order: 1        
        text-align: center
      & #phone-error
        position: absolute
        width: 100%
        right: 5px
        top: -40px
        width: 240px
        order: 2
        text-align: center

@media (max-width: 1224px)
  .offer
    background-size: cover
    &__input
      width: 100%
      margin-top: 5px
      margin-bottom: 5px
      &:first-child
        margin-top: 0
        margin-right: 0
    &__button
      width: 100%
      margin-top: 5px
      font-size: 13px
    &__recall
      &-block
        flex-direction: column

@media (max-width: 1024px)
  .offer
    background: #ffffff
    &__title
      width: 550px
    &-block
      width: 100%
      padding-right: 0
    &__subtitle
      width: 100%

@media (max-width: 768px)
  .offer
    padding: 53px 0 56px 0
    &__title
      width: 350px
      font-size: 24px
      line-height: 30px
    &__subtitle
      width: 250px
    &__recall
      &-block
        flex-direction: column
    &__input
      width: 100%
    &__button
      width: 100%

@media (max-width: 567px)
  .offer
    padding: 50px 0 46px 0
    &__title
      font-size: 18px
      line-height: 22px
      width: 260px
      margin-bottom: 16px
    &__subtitle
      font-size: 14px
    &__recall
      &-block
        width: 230px
      &-item
        margin-top: 10px
        margin-left: 5px
    &__input
      width: 275px
      margin-bottom: 8px
    &__button
      width: 275px
      padding: 0 40px
      font-size: 14px
    &__form
      & #username-error
        width: 275px
      & #phone-error
        width: 275px
      & .validate-message
        font-size: 16px
        width: 275px

