.promises
  padding: 35px 0 130px 0
  &__title
    padding: 83px 0 95px 0
    background-color: $promise-brif-bgr
    margin: auto
    font-size: 32px
    line-height: 50px
    +reg
    text-align: center
  &__about
    display: flex
    justify-content: center
    margin-top: 100px
  &__item
    width: 370px
    position: relative
    &:nth-child(2)
      margin: 0 30px
  &__subtitle
    padding: 20px 53px 0 27px
    text-align: left
    font-size: 20px
    position: absolute
    +reg
    font-size: 16px
    line-height: 23px

@media (max-width: 1224px)
  .promises
    padding: 25px 0 80px 0

@media (max-width: 1024px)
  .promises
    padding: 25px 0 0 0
    &__title
      padding: 60px 0 70px 0
    &__about
      margin-top: 50px
      flex-direction: column
      align-items: center
    &__item
      margin-bottom: 30px
      &:nth-child(2)
        margin: 0 0 30px 0

@media (max-width: 768px)
  .promises
    &__title
      font-size: 24px
      line-height: 30px
    &__item
      &:nth-child(2)
        margin: 30px 0 30px 0

@media (max-width: 567px)
  .promises
    &__title
      font-size: 18px
      line-height: 22px
      padding: 70px 30px 70px 30px
    &__subtitle
      padding: 17px 30px 0 17px
      font-size: 12px
      line-height: 17px
    &__about
      margin-top: 60px
    &__item
      width: 272px
      &:nth-child(2)
        margin: 27px 0
