.steps
  padding: 30px 0
  &__title
    width: 660px
    margin: auto
  &__subtitle
    padding: 50px 0 65px 0
    text-align: center
    font-size: 20px
  &__block
    display: flex
    justify-content: space-around
  &__item:not(:first-child)::before
    content: ''
    position: absolute
    top: -10px
    right: 75px
    width: 100%
    height: 100%
    background: url('../img/steps/step__arrow.png') no-repeat

.step
  width: 155px
  display: flex
  align-items: center
  flex-direction: column  
  position: relative
  &__image
    height: 100px
    width: 100px
    border: 3px solid $main-color
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50%
  &__title
    line-height: 20px
    text-align: center
    padding: 30px 0
    display: block
    font-size: 14px

@media (max-width: 1224px)
  .steps
    padding: 0 0 20px 0
    &__item:not(:first-child)::before
      right: 50px

@media (max-width: 1024px)
  .steps
    &__title
      width: 430px
    &__item:not(:first-child)::before
      right: 35px
      top: -30px

@media (max-width: 768px)
  .steps
    &__title
      font-size: 24px
      line-height: 30px
    &__subtitle
      font-size: 16px
      padding: 27px 0 54px 0
  .step
    &__title
      font-style: 12px
      padding: 20px 0 65px 0

@media (max-width: 567px)
  .steps
    &__title
      width: 243px
      font-size: 18px
      line-height: 22px
    &__item:not(:first-child)::before
      display: none
    &__subtitle
      font-size: 14px
      padding: 22px 0 33px 0
    &__block
      flex-direction: column
      align-items: center
  .step
    &__title
      line-height: 16px
      padding: 30px 0